.PropertyDetails {
  .property__cover {
    max-width: 100%;
  }

  .property__info {
    padding: 5%;

    & > h5 {
      font-size: 1.3rem;
      padding: 5% 0 2% 0;

      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 0.3px;
        background: var(--background-footer);
        margin: 0 auto;
        margin-bottom: 2rem;
      }
    }

    .property__description {
      font-size: 1rem;
      padding-bottom: 5%;
    }
  }

  .property__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    font-size: 1.3rem;
    padding-bottom: 10%;
  }

  .property__flex {
    display: flex;
    align-items: center;
    gap: 1rem;

    & img {
      width: 15%;
    }
  }

  .property__price-description {
    font-size: 0.9rem;
    padding-bottom: 1%;
  }

  .property__price-highlight {
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 8%;
  }

  & .property__price-condition {
    color: var(--color-secondary);
    margin-bottom: 3%;
    font-size: 0.6rem;
    font-weight: normal;
  }

  .property__price-info {
    padding-top: 5%;

    & .highlight {
      color: var(--color-primary);
    }
  }

  & a {
    border-bottom: 1px solid var(--color-secondary);
    padding-bottom: 1px;
    color: var(--color-secondary);
    text-decoration: none;
  }
}
