.InfoCard {
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  line-height: var(--line-height);
  width: 90%;
  height: 45vh;
  margin: 5%;

  .card__cover {
    border-radius: 8px 8px 0 0;
    max-width: 100%;
    width: 100%;
  }

  .card__info {
    padding: 4% 5%;

    & span {
      font-size: 0.8rem;
      font-weight: normal;
    }

    & p {
      font-size: 0.9rem;
    }

    & > h6 {
      font-size: 0.7rem;
      font-weight: normal;
    }
  }

  .card__scale {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

    & .card__info-ruler::before {
      content: url("../../assets/icons/ruler.svg");
      margin-right: 0.5rem;
    }

    & .card__info-bed::before {
      content: url("../../assets/icons/bed.svg");
      margin-right: 0.5rem;
    }

    & .card__info-parking::before {
      content: url("../../assets/icons/car.svg");
      margin-right: 0.5rem;
    }

    & .card__info-bathroom::before {
      content: url("../../assets/icons/bathroom.svg");
      margin-right: 0.5rem;
    }
  }

  .card__info-price {
    color: var(--color-primary);
    font-size: 1rem;
    font-weight: bold;
    margin: 0.3rem 0;
  }
}
