:root {
  --color-primary: #fe0094;
  --color-primary-contrast: #ffffff;

  --color-secondary: #37474f;
  --color-secondary-contrast: #f8b31d;

  --color-tertiary: #c4c4c4;
  --color-tertiary-contrast: #000000;

  --background-footer: #546e7a;
  --line-height: 24.5px;
}
