:root {
  --color-primary: #fe0094;
  --color-primary-contrast: #ffffff;

  --color-secondary: #546E7A;
  --color-secondary-contrast: #f8b31d;

  --color-tertiary: #c4c4c4;
  --color-tertiary-contrast: #000000;
}