.Header {
  // background: red;
  max-width: 100%;
  max-height: 6.12%;

  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;

    &::after {
      content: url('../../assets/icons/menu-sharp.svg');
      cursor: pointer;
    }
  }

  .header__cover {
    img {
      max-width: 100%;
      width: 100%;
    }
    
  }
  
}